[2022-09-25 15:35] abhinavcodedeveloper opened #1 "C++\error\balancedparanthesis.cpp"
You have to generate balanced parenthesis for the given input n
Inp - 3
Out - ()()()
()(())
(())()
(()())
((()))...Find the error in the code
NOTE--> Screenshot of the code as well as of the output is required

[2022-09-25 15:46] abhinavcodedeveloper opened #2 "C++\error\bubblesort.cpp"
the given array is sorted using bubble sort algorithm but there is an error...find the error in the code to make it work
NOTE:- Screenshot of the code and output is required

[2022-09-25 15:53] abhinavcodedeveloper opened #3 "C++\error\minimum_swap.cpp"
input an integer n and form an array
for n = 4,array = 3,1,2,4
output = 2
find the error in the code
NOTE:- Screenshot of the code and output is required

[2022-09-25 16:04] abhinavcodedeveloper opened #4 "C++\error\pallindrome.cpp"
in the given code it is checked whether the given string is a pallindrome or not
for eg:- abba
output:- Pallindrome
Find the error in the code
NOTE:- Screenshot of the code and output is required

[2022-09-25 16:10] abhinavcodedeveloper opened #5 "C++\error\patterntriangle.cpp"
The sample input and output is mentioned in the code !!
You have to find the error
NOTE:- Screenshot of the code and output is required

[2022-09-25 16:13] abhinavcodedeveloper opened #6 "C++\error\permutations.cpp"
Input a string...print the correct possible permutations of that string
Find the error or the missing piece🤔
NOTE:- Screenshot of the code and output is required

[2022-09-25 16:17] abhinavcodedeveloper opened #7 "C++\error\reversearray.cpp"
Reverse the array
inp -- >  1234
out -- >  4321
Find the error in the code🚀
NOTE:- Screenshot of the code and output is required

[2022-09-26 06:15] abhinavcodedeveloper opened #8 "C++\error\rightview.cpp"
take input:- 1 2 3 4 5 -1 -1 6 7 8 9 -1 -1 10 11 -1 -1 -1 -1 -1 -1 -1 -1
output:- 1 3 5 9 11
this is the right view of a tree..imagine the tree by yourself and find the error
NOTE:- Screenshot of the code and output is required

[2022-09-26 06:22] abhinavcodedeveloper opened #9 "C++\error\rotateimage.cpp"
Input and output is given in the question...Find the error in the code
NOTE:- Screenshot of the code and output is required

[2022-09-26 06:43] abhinavcodedeveloper opened #10 "C++\error\target_sumpairs.cpp"
For a given input of 4
``````````````array`````````1 2 3 4
----------target----->5
output -- > 1 and 4
-------------2 and 3
Find the error
NOTE:- Screenshot of the code and output is required

[2022-09-26 13:33] vaibhav-sangwan opened #11 "python/task/twosum.py"
Complete the task here:-
https://leetcode.com/problems/two-sum/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-09-26 13:58] ela2003 opened #12 "CPP/error/ArrayRowWiseSum.cpp"
you have to print array row wise sum but there's a error in the code...so you have to find the error and rectify it.
NOTE:- screenshot of the code and output is required

[2022-09-26 14:16] ela2003 opened #13 "CPP/error/Arraysandpointers.cpp"
find the error and rectify .
NOTE:- screenshot of the code and output is required.

[2022-09-26 14:18] reeba212 opened #14 "python/task/caesars_cipher.py"
Complete the given task and attach a screenshot of your code and the output. You may provide the input yourself according to the task.

[2022-09-26 14:20] reeba212 opened #15 "python/task/contains_duplicate.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:21] reeba212 opened #16 "python/task/happy_number.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:21] ela2003 opened #17 "CPP/error/asciiValue.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 14:23] reeba212 opened #18 "python/task/isomorphic_strings.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:24] reeba212 opened #19 "python/task/min_index_sum_of_two_list.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:25] reeba212 opened #20 "python/task/morse_code.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:25] ela2003 opened #21 "CPP/error/Average.cpp"
you have to find the average of numbers but there's a error in the code  so you have to rectify the error.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 14:25] reeba212 opened #22 "python/task/number_complement.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:26] reeba212 opened #23 "python/task/pascals_triangle.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:26] reeba212 opened #24 "python/task/ransom_note.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:27] reeba212 opened #25 "python/task/reverse_vowels.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:29] ela2003 opened #26 "CPP/error/ReverseNumber.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 14:32] ela2003 opened #27 "CPP/error/basicpointers.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 14:33] reeba212 opened #28 "python/task/studentrecords.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:33] reeba212 opened #29 "python/task/toeplitz_matrix.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:35] reeba212 opened #30 "python/task/transpose_matrix.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:35] ela2003 opened #31 "CPP/error/binarySearch.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 14:35] reeba212 opened #32 "python/task/valid_mountain_array.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:36] reeba212 opened #33 "python/task/valid_parenthesis.py"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 14:38] ela2003 opened #34 "CPP/error/convertNumbersdirty.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 14:52] ela2003 opened #35 "CPP/error/errorinpattern.cpp"
rectify the error in the code.
you have to print this pattern
1
2 3
4 5 6
7 8 9 10
NOTE:- Screenshot of the code and output is required.

[2022-09-26 14:55] ela2003 opened #36 "CPP/error/findminandmaxinarray.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 14:57] ela2003 opened #37 "CPP/error/floydsTriangle.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 14:58] ela2003 opened #38 "CPP/error/linearSearch.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 15:00] ela2003 opened #39 "CPP/error/palidromic.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 15:02] ela2003 opened #40 "CPP/error/pointerandfunction.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 15:03] ela2003 opened #41 "CPP/error/zigzag.cpp"
rectify the error in the code.
NOTE:- Screenshot of the code and output is required.

[2022-09-26 16:07] abhinavcodedeveloper opened #42 "C++\error\GCD.cpp"
Question is well explained in the code...Find the error to resolve the problem
It's an easy one...I am sure you will crack it.🚀
NOTE:- Screenshot of the code and output is required

[2022-09-26 16:13] abhinavcodedeveloper opened #43 "C++\error\chewbaccanumber.cpp"
This is quite an interesting question, just read the question properly in the code and one error is just disturbing me a lot...stucked for days in this question...Will you get the answer?😊

NOTE:- Screenshot of the code and output is required

[2022-09-26 18:06] Taanvee opened #44 "C\task\indicestosum.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-26 18:29] Taanvee opened #45 "C\task\PrintingTokens.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:10] ela2003 opened #46 "CPP/taskcpp/ArrayDynamicEmpty.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:12] ela2003 opened #47 "CPP/taskcpp/ComplementOfBase10.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:12] ela2003 opened #48 "CPP/taskcpp/ExitPointinMatrix.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:13] ela2003 opened #49 "CPP/taskcpp/FibonacciSeries.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:15] ela2003 opened #50 "CPP/taskcpp/FindOccurence.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:16] ela2003 opened #51 "CPP/taskcpp/FindUnique.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:18] ela2003 opened #52 "CPP/taskcpp/IntersectionOfTwoSortedArrays.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:19] ela2003 opened #53 "CPP/taskcpp/PairSum.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:20] ela2003 opened #54 "CPP/taskcpp/PowerofTwo.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:22] ela2003 opened #55 "CPP/taskcpp/ReverseInteger.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:23] ela2003 opened #56 "CPP/taskcpp/ReverseName.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:24] ela2003 opened #57 "CPP/taskcpp/SearchElement.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:25] ela2003 opened #58 "CPP/taskcpp/SquareRoot.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 13:26] ela2003 opened #59 "CPP/taskcpp/SwapNumbers.cpp"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-27 19:05] Taanvee opened #60 "C\task\sort.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-28 13:13] abhinavcodedeveloper opened #61 "C++/taskcpp/Findgreaterelement.cpp"
Question is well explained in the code...it's a concept of a circular array..Try the question🤔

[2022-09-28 13:19] abhinavcodedeveloper opened #62 "CPP/taskcpp/Importance_of_time.cpp"
How important time is for you will get the solution of this question😂...
Coming to the question...It's a DSA one...try to figure out how you end to the output...question is well explained in the code
HINT:- Queues laga ke dekhna😊
NOTE:- **Screen shot of the code and output is required**

[2022-09-28 13:27] abhinavcodedeveloper opened #63 "CPP/taskcpp/1_REVERSEASTACK.cpp"
A simple question for you DSA Aspirants🚀...Reverse a stack nd impress me with your answers.
NOTE:- **Screen shot of the code and output is required**

[2022-09-28 13:33] abhinavcodedeveloper opened #64 "CPP/taskcpp/1_fibonaaci.cpp"
Print the nth Fibonacci number\
NOTE:- **Screen shot of the code and output is required**

[2022-09-28 13:36] abhinavcodedeveloper opened #65 "CPP/taskcpp/1_maximum_freq.cpp"
You have to print the maximum occurred number in the array.
NOTE:- **Screen shot of the code and output is required**

[2022-09-28 13:37] abhinavcodedeveloper opened #66 "CPP/taskcpp/1_operatoroverloading.cpp"
Topic:- Overloading operators
Fill the empty space
NOTE:- **Screen shot of the code and output is required**

[2022-09-28 13:41] abhinavcodedeveloper opened #67 "CPP/taskcpp/1_towerofhanoi.cpp"
write a recursive function of tower of hanoi.
NOTE:- **Screen shot of the code and output is required**

[2022-09-28 13:43] abhinavcodedeveloper opened #68 "CPP/taskcpp/1_ugly_number.cpp"
quite a tricky one...try your best...question is well explained in the code
NOTE:- **Screen shot of the code and output is required**

[2022-09-28 13:45] abhinavcodedeveloper opened #69 "CPP/taskcpp/phonekeypad.cpp"
A very interesting question you must try it out...Not tough but your thinking matters how will the solution be👍
NOTE:- **Screen shot of the code and output is required**

[2022-09-28 13:48] abhinavcodedeveloper opened #70 "CPP/taskcpp/vertical_order_print.cpp"
So here comes the trees...Go ahead and solve the most interesting question of it
NOTE:- **Screen shot of the code and output is required**

[2022-09-28 17:19] Taanvee opened #71 "C\task\IntegerSum.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-28 18:16] Taanvee opened #72 "C\task\Cards.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-28 18:32] Taanvee opened #73 "C\Task\MaximumProduct.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-28 18:39] Taanvee opened #74 "C\Task\PairsWithDifference.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-28 18:52] Taanvee opened #75 "C\task\ArrayReversal.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-29 10:09] Taanvee opened #76 "C\task\InsertInLinkList.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-29 11:29] Taanvee opened #77 "C\task\ElementInLinkedList.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-29 11:44] Taanvee opened #78 "C\task\RemoveElement.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-29 12:52] Taanvee opened #79 "C\task\MergeList.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-29 12:53] Taanvee opened #80 "C\task\ClimbingStairs.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-29 12:54] Taanvee opened #81 "C\task\ElementPresent.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-29 12:55] Taanvee opened #82 "C\task\PerfectSquare.c"
Complete the task and attach a screenshot of your code and output. You may take the input yourself according to the task.

[2022-09-30 17:32] vaibhav-sangwan opened #83 "python/task/palindrome_number.py"
Complete the task here:-
https://leetcode.com/problems/palindrome-number/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-09-30 17:33] vaibhav-sangwan opened #84 "python/task/longest_common_prefix.py"
Complete the task here:-
https://leetcode.com/problems/longest-common-prefix/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-09-30 17:34] vaibhav-sangwan opened #85 "python/task/merge-two-sorted-lists.py"
Complete the task here:-
https://leetcode.com/problems/merge-two-sorted-lists/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-09-30 17:35] vaibhav-sangwan opened #86 "python/task/remove-duplicates-from-sorted-array.py"
Complete the task here:-
https://leetcode.com/problems/remove-duplicates-from-sorted-array/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-09-30 17:36] vaibhav-sangwan opened #87 "python/task/remove-element.py"
Complete the task here:-
https://leetcode.com/problems/remove-element/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-09-30 17:38] vaibhav-sangwan opened #88 "python/task/search-insert-position.py"
Complete the task here:-
https://leetcode.com/problems/search-insert-position/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-10-01 17:13] reeba212 opened #89 "python/error/swap_elements.py"
Find the errors in the code and correct them

[2022-10-01 17:20] reeba212 opened #90 "python/error/common_element.py"
Find the errors in the code and correct them

[2022-10-01 17:29] reeba212 opened #91 "python/error/filter_vowels.py"
Find the errors in the code and correct them

[2022-10-01 17:49] reeba212 opened #92 "python/error/max_freq.py"
Find the errors in the code and correct them

[2022-10-01 17:53] reeba212 opened #93 "python/error/all_prime_nums.py"
Find the errors in the code and correct them

[2022-10-01 17:55] reeba212 opened #94 "python/error/even_fibonacci_nums.py"
Find the errors in the code and correct them

[2022-10-01 17:58] reeba212 opened #95 "python/error/trailing_zeroes.py"
Find the errors in the code and correct them

[2022-10-01 18:00] reeba212 opened #96 "python/error/reverse_every_word.py"
Find the errors in the code and correct them

[2022-10-01 18:06] reeba212 opened #97 "python/error/leaders_in_array.py"
Find the errors in the code and correct them

[2022-10-01 18:08] reeba212 opened #98 "python/error/decimal_to_binary.py"
Find the errors in the code and correct them

[2022-10-01 18:17] reeba212 opened #99 "python/error/anagram.py"
Find the errors in the code and correct them

[2022-10-01 18:20] reeba212 opened #100 "python/error/bmi.py"
Find the errors in the code and correct them

[2022-10-02 05:18] abhinavcodedeveloper opened #101 "CPP/taskcpp/Basic_calculator.cpp"
Question is well explained in the code....Can you deal with characters...If yes then surely you can crack it
NOTE:- Screenshot of the code and output is required

[2022-10-02 05:19] abhinavcodedeveloper opened #102 "CPP/taskcpp/Binary_to_decimal.cpp"
Convert a Binary number to a decimal
NOTE:- Screenshot of the code and output is required

[2022-10-02 05:21] abhinavcodedeveloper opened #103 "CPP/taskcpp/Countdigits.cpp"
Write a function that returns the number of times digit is found in the number.
Note:- Screenshot of the code and Output is required

[2022-10-02 05:22] abhinavcodedeveloper opened #104 "CPP/taskcpp/Decimaltooctal.cpp"
Take N (number in decimal format). Write a function that converts it to octal format.
Note:- Screenshot of the code and output is required

[2022-10-02 05:23] abhinavcodedeveloper opened #105 "CPP/taskcpp/Kadenealgo.cpp"
You are well aware of the Kadaene's Algo...So that's the hint here...you can try now(question is well explained in the code)
NOTE:- Screenshot of the code and the output is required

[2022-10-02 05:25] abhinavcodedeveloper opened #106 "CPP/taskcpp/Oddplaced_evenplaced_sum.cpp"
Take N as input. Print the sum of its odd placed digits and sum of its even placed digits.
Note:- Screenshot of the code and output is required

[2022-10-02 05:36] abhinavcodedeveloper opened #107 "CPP/taskcpp/Pairofroses.cpp"
Do you have a Girlfriend?😉...If yes then this question is for you...If no then also try it😂...Your want to surprise your girlfriend and how will you do that just open the task😏
NOTE:- Screenshot of the code and output is required

[2022-10-02 05:39] abhinavcodedeveloper opened #108 "CPP/taskcpp/Shopping_game.cpp"
Question is well explained in the task...just check it out
Note:- Screenshot of the code and output is required

[2022-10-02 05:42] abhinavcodedeveloper opened #109 "CPP/taskcpp/Van_nueman_loves_binary.cpp"
An easy question...Just check it out...you will be solving it in minutes
NOTE:- Screenshot of the code and output is required

[2022-10-03 08:01] Taanvee opened #110 "C\error\Add2num.c"
Find the errors in the code and correct them.

[2022-10-03 08:29] Taanvee opened #111 "C\error\Sumof10.c"
Find the errors in the code and correct them.

[2022-10-03 08:30] Taanvee opened #112 "C\error\Pattern.c"
Find the errors and correct them.

[2022-10-03 08:31] Taanvee opened #113 "C\error\SumofOdd.c"
Find the errors and correct them.

[2022-10-03 08:40] Taanvee opened #114 "C\error\FloydTriangle.c"
Find the errors in code and correct them.

[2022-10-03 09:05] Taanvee opened #115 "C\error\PrimeNo.c"
Find the errors in code and correct them.

[2022-10-03 09:33] Taanvee opened #116 "C\error\MissingElement.c"
Find the errors in the code and correct them.

[2022-10-03 09:39] Taanvee opened #117 "C\error\LargestSum.c"
Find the errors in the code and correct them.

[2022-10-03 09:45] Taanvee opened #118 "C\error\TempConv.c"
Find the errors in the code and correct them.

[2022-10-03 09:50] Taanvee opened #119 "C\error\Factorial.c"
Find the errors in code and correct them.

[2022-10-03 16:43] reeba212 opened #120 "python/task/binary_search.py"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 16:44] reeba212 opened #121 "python/task/bubble_sort.py"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 16:46] reeba212 opened #122 "python/task/greatest_number.py"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 16:47] reeba212 opened #123 "python/task/bank_account.py"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 16:48] reeba212 opened #124 "python/task/power_of_digit.py"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 16:49] reeba212 opened #125 "python/task/count_char.py"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 16:50] reeba212 opened #126 "python/task/last_tuesday.py"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 16:50] reeba212 opened #127 "python/task/count_letters_digits.py"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 16:51] reeba212 opened #128 "python/task/multiply_matrices.py"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 16:52] reeba212 opened #129 "python/task/reversing_series_pattern.py"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 16:58] vaibhav-sangwan opened #130 "python/task/length-of-last-word.py"
Complete the task here:-
https://leetcode.com/problems/length-of-last-word/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-10-03 16:59] vaibhav-sangwan opened #131 "python/task/plus-one.py"
Complete the task here:-
https://leetcode.com/problems/plus-one/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-10-03 17:00] vaibhav-sangwan opened #132 "python/task/sqrt_x.py"
Complete the task here:-
https://leetcode.com/problems/sqrtx/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-10-03 17:01] vaibhav-sangwan opened #133 "python/task/climbing-stairs.py"
Complete the task here:-
https://leetcode.com/problems/climbing-stairs/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-10-03 17:02] vaibhav-sangwan opened #134 "python/task/remove-duplicates-from-sorted-list.py"
Complete the task here:-
https://leetcode.com/problems/remove-duplicates-from-sorted-list/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-10-03 17:03] vaibhav-sangwan opened #135 "python/task/merge-sorted-array.py"
Complete the task here:-
https://leetcode.com/problems/merge-sorted-array/

and provide the screenshot of the code and output on the path referenced to by the title of the issue.

[2022-10-03 17:23] abhinavcodedeveloper opened #136 "CPP/error/Stringcompression.cpp"
Question is well explained in the code..Find out the error
NOTE:- Screenshot of the code and output is required.

[2022-10-03 17:26] abhinavcodedeveloper opened #137 "CPP/error/XORprofitproblem.cpp"
Find out the error in the code
NOTE:- Screenshot of the code and output is required

[2022-10-03 17:35] abhinavcodedeveloper opened #138 "CPP/error/countpallindromicsubstrings.cpp"
Find out the error in the code
NOTE:- Screenshot of the code and output is required

[2022-10-03 17:41] abhinavcodedeveloper opened #139 "CPP/error/helpramu.cpp"
Find out the error in the code
Note:- Screenshot of the code and output is required

[2022-10-03 17:42] abhinavcodedeveloper opened #140 "CPP/error/hollowrhombuspattern.cpp"
Find out the error in the code
NOTE:- Screenshot of the code and output is required

[2022-10-03 17:43] abhinavcodedeveloper opened #141 "CPP/error/oddevencharacter.cpp"
Find out the error in the code
NOTE:- Screenshot of the code and output is required

[2022-10-03 17:44] abhinavcodedeveloper opened #142 "CPP/error/patternnumber.cpp"
Find out the error in the code
Note:- Screenshot of the code and the output is required

[2022-10-03 17:46] abhinavcodedeveloper opened #143 "CPP/error/seperatelines.cpp"
Find out the error in the code
NOTE:- Screenshot of the code and output is required

[2022-10-03 17:48] abhinavcodedeveloper opened #144 "CPP/error/seperatelines.cpp"
Find out the error in the code
NOTE:- Screenshot of the code and output is required

[2022-10-03 17:50] abhinavcodedeveloper opened #145 "CPP/error/toggle.cpp"
Find out the error in the code
NOTE:- Screenshot of the code and output is required

[2022-10-03 18:17] Taanvee opened #146 "C\task\Root.c"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 18:18] Taanvee opened #147 "C\task\Palindrome.c"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 18:19] Taanvee opened #148 "C\task\SumofMultiples.c"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 18:19] Taanvee opened #149 "C\task\HCF.c"
Complete the given task and attach a screenshot of the code and output

[2022-10-03 18:20] Taanvee opened #150 "C\task\LCM.c"
Complete the given task and attach a screenshot of the code and output

[2022-10-10 14:32] officialasishkumar commented on #21
Hello! I'd like to work on this issue :)

[2022-10-10 15:23] officialasishkumar commented on #141
Hello! would love to work on this issue :-)

[2022-10-10 18:21] abhinavcodedeveloper commented on #142
Go ahead @chiragcode11

[2022-10-10 18:22] abhinavcodedeveloper commented on #141
Sure go ahead @officialasishkumar

[2022-10-11 03:20] modychief commented on #136
please assign me this issue @abhinavcodedeveloper .

[2022-10-11 08:55] Sparsh47 commented on #59
I am interested in this issue but can you please explain to me what I have to do in this?

[2022-10-11 10:21] Kunal-Garg-12 commented on #11
Assign this to me

[2022-10-11 10:21] Kunal-Garg-12 commented on #120
Assign this to me

[2022-10-11 10:22] Kunal-Garg-12 commented on #131
Assign this to me

[2022-10-11 10:22] Kunal-Garg-12 commented on #130
Assign this to me

[2022-10-12 06:20] abhinavcodedeveloper commented on #136
Go ahead @modychief

[2022-10-12 06:32] abhinavmaheshwari03 commented on #140
I want to work on this issue...please assign me

[2022-10-12 06:42] abhinavcodedeveloper commented on #140
go ahead @abhinavmaheshwari03

[2022-10-12 10:05] chiragcode11 commented on #142
@abhinavcodedeveloper should change the code or find the error and comment it?

[2022-10-12 10:32] divya520357 opened #160 "CPP/Task/SwapNumbers.cpp"
Complete the task and add a screenshot of the output in the PR.

[2022-10-12 10:34] chiragcode11 commented on #145
can I work on this issue

[2022-10-12 10:35] #140 closed

[2022-10-12 10:41] #144 closed

[2022-10-12 10:42] abhinavcodedeveloper commented on #145
go ahead
@chiragcode11

[2022-10-12 10:43] #143 closed

[2022-10-12 11:32] #160 closed

[2022-10-12 11:43] Aditi-1709 commented on #128
what is this "#!/usr/bin/env python" as my code works perfectly fine w/o it.

[2022-10-12 12:46] RavishGupta commented on #148
please assign this task to me

[2022-10-12 13:25] abhinavmaheshwari03 commented on #57
I want to work on this issue..please assign it to me

[2022-10-12 13:26] abhinavmaheshwari03 commented on #36
I want to work on this issue..Please assign it to me

[2022-10-12 13:39] abhinavmaheshwari03 commented on #53
I want to work on this issue..please assign it to me

[2022-10-12 13:57] abhinavmaheshwari03 commented on #57
Do i have to return boolean value,index or the element??

[2022-10-12 13:58] #21 closed

[2022-10-12 14:28] ela2003 commented on #57
you have to find the index at which the element is present in array

[2022-10-12 15:00] abhinavmaheshwari03 commented on #57
Completed the task...please review it

[2022-10-12 15:48] #57 closed

[2022-10-12 16:05] tanmaysharma17 commented on #103
pls assign this to me #103 @abhinavcodedeveloper

[2022-10-12 16:06] tanmaysharma17 commented on #104
pls assign this issue to #104 @abhinavcodedeveloper @Vaibhavgupta05 @SohilK03  @divya520357

[2022-10-12 16:08] tanmaysharma17 commented on #58
pls assign this issue to me @ela2003 @abhinavcodedeveloper @Vaibhavgupta05

[2022-10-12 16:08] tanmaysharma17 commented on #63
pls assign this issue to me @abhinavcodedeveloper @Vaibhavgupta05 @SohilK03 @ela2003

[2022-10-12 16:09] tanmaysharma17 commented on #60
pls assign this issue to me @Taanvee @ela2003 @Vaibhavgupta05 @abhinavcodedeveloper

[2022-10-13 06:34] Divyessh commented on #99
@reeba212
Please check the PR opened for this issue, and let me know if any changes or modification is needed.
Thanks.

[2022-10-13 07:38] reeba212 commented on #128
Hey, it's just a comment that gets added automatically when I download a python file from google collaboratory, don't worry about it :)

[2022-10-13 08:25] Aditi-1709 commented on #128
So can I remove it as my code isn't working with it ?

On Thu, 13 Oct, 2022, 13:09 Reeba Qureshi, ***@***.***> wrote:

[2022-10-13 08:34] reeba212 commented on #128
Yes you can

[2022-10-13 12:40] Prashant1308 commented on #147
@Taanvee  can you assign it to me?

[2022-10-13 12:41] Prashant1308 commented on #149
@Taanvee  can you assign it to me?

[2022-10-13 13:16] bhavuk-09 commented on #142
Hello.... Assign this to me

[2022-10-13 13:17] bhavuk-09 commented on #141
Hello.... Assign this to me

[2022-10-13 13:18] bhavuk-09 commented on #150
Hello.... Assign this to me

[2022-10-13 13:18] bhavuk-09 commented on #139
Hello.... Assign this to me

[2022-10-13 13:18] bhavuk-09 commented on #138
Hello.... Assign this to me

[2022-10-13 13:20] bhavuk-09 commented on #103
Hello....Please Assign this to me

[2022-10-13 13:20] bhavuk-09 commented on #105
Hello....Please Assign this to me

[2022-10-13 13:20] bhavuk-09 commented on #106
Hello....Please Assign this to me

[2022-10-13 13:20] bhavuk-09 commented on #59
Hello....Please Assign this to me

[2022-10-13 13:21] bhavuk-09 commented on #55
Hello....Please Assign this to me

[2022-10-13 13:21] bhavuk-09 commented on #49
Hello....Please Assign this to me

[2022-10-13 13:21] bhavuk-09 commented on #38
Hello....Please Assign this to me

[2022-10-13 13:22] bhavuk-09 commented on #36
Hello....Please Assign this to me

[2022-10-13 13:23] bhavuk-09 commented on #119
Hello....Please Assign this to me

[2022-10-13 13:23] bhavuk-09 commented on #117
Hello....Please Assign this to me

[2022-10-13 13:23] bhavuk-09 commented on #116
Hello....Please Assign this to me

[2022-10-13 13:26] bhavuk-09 commented on #10
Hello....Please Assign this to me

[2022-10-13 13:34] #59 closed

[2022-10-13 14:02] FaizFk commented on #148
Hi I would like to do this task. I will insert the code in C \task\SumofMultiples.c as well as attach a screenshot of code and output.

[2022-10-13 14:12] abhinavcodedeveloper commented on #142
@bhavuk-09 sorry this issue is closed now

[2022-10-13 14:13] abhinavcodedeveloper commented on #141
Sure @bhavuk-09

[2022-10-13 15:42] #53 closed, assigned to abhinavmaheshwari03

[2022-10-13 17:52] Beingfarazkhan commented on #60
Assign this issue please ,i can do it with bubble sort

[2022-10-13 18:05] #138 closed

[2022-10-13 18:06] #141 closed

[2022-10-13 18:16] AK-shat-JAIN commented on #145
I can Do this task

[2022-10-13 18:22] Beingfarazkhan commented on #150
I have a intruigive way to solve this issue please assign it to me

[2022-10-13 18:32] Beingfarazkhan commented on #149
Please assign this issue to me

[2022-10-13 18:34] Beingfarazkhan commented on #67
Can you assign this to me , i can solve this by showing the steps also

[2022-10-13 18:39] AK-shat-JAIN commented on #139
Helo Assign this to me

[2022-10-13 19:17] #145 closed

[2022-10-13 19:23] #67 closed

[2022-10-14 04:23] akash-1107 commented on #139
Can you please assign it to me?

[2022-10-14 04:25] akash-1107 commented on #106
Please Assign this to me

[2022-10-14 04:25] akash-1107 commented on #105
Please Assign this to me

[2022-10-14 04:26] akash-1107 commented on #103
Please Assign this to me

[2022-10-14 04:26] akash-1107 commented on #36
Please Assign this to me

[2022-10-14 04:27] akash-1107 commented on #49
Please Assign this to me

[2022-10-14 04:27] akash-1107 commented on #55
Please Assign this to me

[2022-10-14 04:27] akash-1107 commented on #58
Please Assign this to me

[2022-10-14 08:01] Sakura74 commented on #102
Hello assign this to me

[2022-10-14 08:02] Sakura74 commented on #137
Hello assign this to me

[2022-10-14 08:03] Sakura74 commented on #17
Hello assign this to me

[2022-10-14 08:15] bhavuk-09 commented on #26
Hello. Please Assign this to me

[2022-10-14 08:46] Sakura74 commented on #35
Hello assign this to me

[2022-10-14 08:46] Sakura74 commented on #37
Hello assign this to me

[2022-10-14 08:47] Sakura74 commented on #34
Hello assign this to me

[2022-10-14 08:48] Sakura74 commented on #40
Hello assign this to me

[2022-10-14 08:48] Sakura74 commented on #41
Hello assign this to me

[2022-10-14 09:35] chiragcode11 commented on #145
is this closed ?

[2022-10-14 10:24] chiragcode11 commented on #42
can you assign me this issue

[2022-10-14 10:34] chiragcode11 commented on #13
can I I work on this issue

[2022-10-14 12:51] #58 closed

[2022-10-14 13:19] #52 closed

[2022-10-14 14:02] #38 closed

[2022-10-14 14:07] #49 closed

[2022-10-14 16:55] sabhisharma-ise commented on #102
Please assign this Issue!

[2022-10-14 16:56] sabhisharma-ise commented on #26
Please this assign this issue!

[2022-10-14 19:27] swayamg20 commented on #146
can you please assign me this issue?

[2022-10-15 04:29] Taanvee commented on #146
Yes go ahead

[2022-10-15 05:52] swayamg20 commented on #150
is it still open?

[2022-10-15 05:54] swayamg20 commented on #146
I made a PR can you please check it?

[2022-10-15 06:41] sabhisharma-ise commented on #102
Hey I have done pull request #195 !

[2022-10-15 06:41] sabhisharma-ise commented on #150
Please assign this issue!

[2022-10-15 06:41] sabhisharma-ise commented on #149
Can you assign this issue?

[2022-10-15 06:42] sabhisharma-ise commented on #147
Please assign this issue!

[2022-10-15 06:42] sabhisharma-ise commented on #146
Please assign this issue!

[2022-10-15 06:44] sabhisharma-ise commented on #102
![Code](https://user-images.githubusercontent.com/100849696/195973298-861f9a40-1a87-4584-b44c-b20f6c479d99.png)
![Output](https://user-images.githubusercontent.com/100849696/195973301-17ac787d-246f-4fc5-ac6f-194272993df6.png)

[2022-10-15 06:45] sabhisharma-ise commented on #122
Please this assign this issue!

[2022-10-15 06:45] sabhisharma-ise commented on #121
Please assign this issue!

[2022-10-15 06:46] sabhisharma-ise commented on #120
Please assign this issue!

[2022-10-15 06:46] sabhisharma-ise commented on #124
Please assign this isssue!

[2022-10-15 06:47] sabhisharma-ise commented on #134
Please assign this issue!

[2022-10-15 06:48] sabhisharma-ise commented on #132
Please this to assign!

[2022-10-15 06:48] sabhisharma-ise commented on #131
Please assign this issue!

[2022-10-15 06:49] sabhisharma-ise commented on #127
Please assign this issue!

[2022-10-15 06:50] sabhisharma-ise commented on #125
Please this this issue!

[2022-10-15 06:51] sabhisharma-ise commented on #117
Please assign this issue!

[2022-10-15 06:51] sabhisharma-ise commented on #116
Please assign this issue!

[2022-10-15 06:52] sabhisharma-ise commented on #115
Please assign this issue!

[2022-10-15 06:52] sabhisharma-ise commented on #114
Please assign this issue!

[2022-10-15 06:52] sabhisharma-ise commented on #113
Please assign this issue!

[2022-10-15 06:53] sabhisharma-ise commented on #112
Please assign this issue!

[2022-10-15 06:53] sabhisharma-ise commented on #111
Please assign this issue!

[2022-10-15 07:01] swayamg20 commented on #147
@Taanvee Can you please check my PR?

[2022-10-15 07:08] swayamg20 commented on #119
@Taanvee can you please check my PR on this issue.

[2022-10-15 10:04] akash-1107 commented on #135
Please assign this to me

[2022-10-15 10:04] akash-1107 commented on #133
Please assign this issue to me

[2022-10-15 10:04] akash-1107 commented on #129
Please assign this issue to me

[2022-10-15 10:05] akash-1107 commented on #109
Please assign this issue to me

[2022-10-15 10:05] akash-1107 commented on #108
Please assign this issue to me

[2022-10-15 10:08] akash-1107 commented on #107
i don't have a girlfriend😂 so a i can get some feels working on this issue 😂 . Please assign this to me

[2022-10-15 10:10] akash-1107 commented on #70
Please assign this to me

[2022-10-15 10:10] akash-1107 commented on #69
Please assign this to me

[2022-10-15 10:25] sabhisharma-ise commented on #101
Can you please assign this to me?

[2022-10-15 10:25] sabhisharma-ise commented on #98
Can you please assign this issue?

[2022-10-15 10:27] sabhisharma-ise commented on #2
Can you please assign this issue?

[2022-10-15 10:27] sabhisharma-ise commented on #4
Can you please assign this issue?

[2022-10-15 10:27] sabhisharma-ise commented on #5
Can you please assign this issue?

[2022-10-15 10:27] sabhisharma-ise commented on #7
Can you please assign this issue?

[2022-10-15 10:27] sabhisharma-ise commented on #11
Can you please assign this issue?

[2022-10-15 10:27] sabhisharma-ise commented on #23
Can you please assign this issue?

[2022-10-15 10:27] sabhisharma-ise commented on #30
Can you please assign this issue?

[2022-10-15 10:27] sabhisharma-ise commented on #31
Can you please assign this issue?

[2022-10-15 10:28] sabhisharma-ise commented on #36
Can you please assign this issue?

[2022-10-15 10:28] sabhisharma-ise commented on #37
Can you please assign this issue?

[2022-10-15 10:28] sabhisharma-ise commented on #39
Can you please assign this issue?

[2022-10-15 10:28] sabhisharma-ise commented on #40
Can you please assign this issue?

[2022-10-15 10:28] sabhisharma-ise commented on #41
Can you please assign this issue?

[2022-10-15 10:28] sabhisharma-ise commented on #42
Can you please assign this issue?

[2022-10-15 10:28] sabhisharma-ise commented on #50
Can you please assign this issue?

[2022-10-15 10:28] sabhisharma-ise commented on #51
Can you please assign this issue?

[2022-10-15 10:28] sabhisharma-ise commented on #54
Can you please assign this issue?

[2022-10-15 10:28] akash-1107 commented on #101
Please assign this to me

[2022-10-15 10:28] sabhisharma-ise commented on #55
Can you please assign this issue?

[2022-10-15 10:29] sabhisharma-ise commented on #56
Can you please assign this issue?

[2022-10-15 10:29] sabhisharma-ise commented on #60
Can you please assign this issue?

[2022-10-15 10:29] akash-1107 commented on #4
Please assign this to me @abhinavcodedeveloper

[2022-10-15 10:29] #139 closed

[2022-10-15 10:30] sabhisharma-ise commented on #61
Can you please assign this issue?

[2022-10-15 10:30] sabhisharma-ise commented on #64
Can you please assign this issue?

[2022-10-15 10:30] sabhisharma-ise commented on #65
Can you please assign this issue?

[2022-10-15 10:30] sabhisharma-ise commented on #71
Can you please assign this issue?

[2022-10-15 10:30] sabhisharma-ise commented on #75
Can you please assign this issue?

[2022-10-15 10:30] sabhisharma-ise commented on #78
Can you please assign this issue?

[2022-10-15 10:30] sabhisharma-ise commented on #82
Can you please assign this issue?

[2022-10-15 10:30] sabhisharma-ise commented on #83
Can you please assign this issue?

[2022-10-15 10:30] sabhisharma-ise commented on #87
Can you please assign this issue?

[2022-10-15 10:30] sabhisharma-ise commented on #89
Can you please assign this issue?

[2022-10-15 10:30] sabhisharma-ise commented on #92
Can you please assign this issue?

[2022-10-15 10:31] sabhisharma-ise commented on #93
Can you please assign this issue?

[2022-10-15 10:32] abhinavcodedeveloper commented on #107
noicee @akash-1107

[2022-10-15 10:33] #106 closed

[2022-10-15 10:34] #105 closed

[2022-10-15 10:34] #103 closed

[2022-10-15 10:41] #102 closed

[2022-10-15 10:44] #10 closed

[2022-10-15 10:44] prajwald2607 commented on #147
Please assign this issue to me !!

[2022-10-15 10:45] prajwald2607 commented on #146
Please assign this issue to me !!

[2022-10-15 10:58] prajwald2607 commented on #121
Please assign this issue to me !!

[2022-10-15 10:59] prajwald2607 commented on #119
Please assign this issue to me !!

[2022-10-15 10:59] prajwald2607 commented on #120
Please assign this issue to me !!

[2022-10-15 11:00] prajwald2607 commented on #150
Please assign this issue to me !!

[2022-10-15 11:00] prajwald2607 commented on #110
Please assign this issue to me !!

[2022-10-15 11:00] prajwald2607 commented on #100
Please assign this issue to me !!

[2022-10-15 11:01] prajwald2607 commented on #7
Please assign this issue to me !!

[2022-10-15 11:01] prajwald2607 commented on #2
Please assign this issue to me !!

[2022-10-15 11:02] prajwald2607 commented on #56
Please assign this issue to me !!

[2022-10-15 11:02] prajwald2607 commented on #39
Please assign this issue to me !!

[2022-10-15 11:12] reeba212 commented on #100
Hey, I've assigned this issue to you!

[2022-10-15 11:13] reeba212 commented on #93
Hey, I've assigned this issue to you!

[2022-10-15 11:21] akash-1107 commented on #108
It was a good experience solving this . Kindly merge my pull request

[2022-10-15 12:04] sabhisharma-ise commented on #101
Hey I have done pull request #211 !

[2022-10-15 12:04] sabhisharma-ise commented on #101
Calculator:-
![Code](https://user-images.githubusercontent.com/100849696/195985453-4431c7dc-ba2d-4af4-b332-a46fb91122a3.png)
![Output](https://user-images.githubusercontent.com/100849696/195985456-6deff260-5479-432d-afd1-05b29bac8190.png)

[2022-10-15 12:10] sabhisharma-ise commented on #93
Thanx!

[2022-10-15 12:24] sabhisharma-ise commented on #93
The code is working properly already!
all_prime_nums.py

[2022-10-15 12:29] TanyaSri-23 commented on #132
Hey! Can you please assign this issue to me

[2022-10-15 13:01] navin772 commented on #118
Hi @Taanvee please assign this to me.

[2022-10-15 14:29] #101 closed

[2022-10-15 14:37] #108 closed

[2022-10-15 14:40] #107 closed

[2022-10-15 14:45] swayamg20 commented on #137
Hi can you please assign me this issue?

[2022-10-15 14:49] swayamg20 commented on #42
can you assign me this issue?

[2022-10-15 14:50] swayamg20 commented on #2
can you assign me this issue?

[2022-10-15 14:51] swayamg20 commented on #119
@Taanvee can you assign me this issue?

[2022-10-15 14:52] swayamg20 commented on #4
can you assign me this issue? @abhinavcodedeveloper

[2022-10-15 18:32] Parth-2609 commented on #132
<img width="264" alt="image" src="https://user-images.githubusercontent.com/103762350/196002618-4a01cd70-f69d-408f-8b2d-4067e9d8fd13.png">
<img width="262" alt="image" src="https://user-images.githubusercontent.com/103762350/196002625-00db49e4-dbc0-4cf1-97ea-6079b7ae6e1a.png">
Completed the issue

[2022-10-15 18:46] Parth-2609 commented on #132
<img width="239" alt="image" src="https://user-images.githubusercontent.com/103762350/196002933-c3593ab3-1cc4-4aaa-9847-f2c757ec5c7f.png">
<img width="233" alt="image" src="https://user-images.githubusercontent.com/103762350/196002970-ae230c6e-edda-4e6e-8b72-f607956290fc.png">
Completed the issue and also sent the PR.

[2022-10-15 18:48] Markaeus commented on #46
Hi @ela2003 , can you please assign this to me?

[2022-10-15 19:10] Ankit-0009 commented on #109
Assign this task to me.

[2022-10-15 19:10] Ankit-0009 commented on #104
Assign this task to me.

[2022-10-15 19:10] Ankit-0009 commented on #65
Assign this task to me.

[2022-10-15 19:10] Ankit-0009 commented on #64
Assign this task to me.

[2022-10-15 19:11] Ankit-0009 commented on #136
Assign this task to me.

[2022-10-15 19:11] Ankit-0009 commented on #137
Assign this task to me.

[2022-10-15 20:31] Ankit-0009 commented on #1
Assign this task to me.

[2022-10-16 05:22] navin772 commented on #126
Hi @reeba212 please assign this to me.

[2022-10-16 05:28] navin772 commented on #126
![last_tuesday](https://user-images.githubusercontent.com/98466550/196019639-33207b0e-c9b9-4233-9a2f-9609c820348d.png)
Here's the ss of the code and output.

[2022-10-16 05:53] reeba212 commented on #99
Hey! You're also required to attach a screenshot of the code and output here.

[2022-10-16 05:59] #109 closed

[2022-10-16 07:07] swayamg20 commented on #68
can you please assign me this issue?

[2022-10-16 07:09] swayamg20 commented on #7
can you please assign me this issue?

[2022-10-16 07:11] swayamg20 commented on #9
can you please assign me this issue?

[2022-10-16 07:19] swayamg20 commented on #6
can you please assign me this issue?

[2022-10-16 07:20] swayamg20 commented on #65
can you please assign me this issue?

[2022-10-16 07:49] Divyessh commented on #99
Sure, here are the relevant screenshots.
![screenshot_1](https://user-images.githubusercontent.com/67703282/196024365-3136cd7a-6ceb-4b74-8276-eaefbef67a8b.png)
![screenshot_2](https://user-images.githubusercontent.com/67703282/196024368-d3e9295e-4595-4f05-8fca-7ae702aadc05.png)

[2022-10-16 08:53] abhinavcodedeveloper commented on #7
This issue is already assigned to someone...try new

[2022-10-16 08:55] abhinavcodedeveloper commented on #65
This issue is already assigned

[2022-10-16 09:19] #36 closed

[2022-10-16 10:27] navin772 commented on #91
@reeba212 please assign this issue to me!

[2022-10-16 11:57] navin772 commented on #91
![filter_vowels](https://user-images.githubusercontent.com/98466550/196034117-f34ffc01-2be2-4e87-b7f8-3d4f1d0c5f61.png)
Here you go @reeba212  . Thanks for the reminder

[2022-10-16 12:15] navin772 commented on #24
@reeba212 I have solved this issue and opening a PR for the same. Please review!
![ransom_note](https://user-images.githubusercontent.com/98466550/196034879-fa244282-39bb-46f5-97f0-4f665b176a1e.png)

[2022-10-16 12:27] KrishKumar3004 commented on #24
Hey! I would like to contribute. Please assign it to me.

[2022-10-16 12:28] KrishKumar3004 commented on #91
Hey! I would like to contribute. Please assign it to me.

[2022-10-16 12:28] reeba212 commented on #24
Hey! Sorry, this issue has already been solved

[2022-10-16 12:29] #24 closed

[2022-10-16 12:30] #128 closed

[2022-10-16 12:30] #126 closed

[2022-10-16 12:33] #120 closed

[2022-10-16 12:33] #99 closed

[2022-10-16 12:35] reeba212 commented on #91
Hey! Sorry but this issue has already been solved

[2022-10-16 12:35] navin772 commented on #90
@reeba212 I solved this issue and now the code works perfectly! Please review
![common_element](https://user-images.githubusercontent.com/98466550/196035631-6e9922b1-3bc9-4576-826a-a6d73519b33e.png)

[2022-10-16 12:35] #91 closed

[2022-10-16 12:36] reeba212 commented on #90
Great! Make sure to start a pull request with the changes you made in the code

[2022-10-16 12:39] #90 closed

[2022-10-16 12:52] bhoomikhurana commented on #47
<img width="1440" alt="Screenshot 2022-10-16 at 6 13 57 PM" src="https://user-images.githubusercontent.com/96761198/196036414-b7c0dfac-16f9-46d6-a0b6-8eeda44356e6.png">

[2022-10-16 13:25] Aritra056GITHUB commented on #47
Please assign me this task I am sure I can do it.

[2022-10-16 16:21] #104 closed

[2022-10-17 00:23] swayamg20 commented on #3
can you please assign me this issue?

[2022-10-17 04:14] JoydeepMallick commented on #30
can you please assign it to me?

[2022-10-17 07:29] bhoomikhurana commented on #68
Pls assign this task to me

[2022-10-17 07:29] bhoomikhurana commented on #47
Pls assign this task to me

[2022-10-17 07:33] #68 closed

[2022-10-17 09:20] swayamg20 commented on #68
But my code also worked correctly no?

[2022-10-17 09:20] swayamg20 commented on #68
But my code also worked correctly no?

[2022-10-17 10:51] swayamg20 commented on #68
can you please check my code again? I followed all the procedures.

[2022-10-17 12:39] reeba212 commented on #84
![longestprefix](https://user-images.githubusercontent.com/64488642/196179134-9cca6e08-56eb-4475-99df-795d04ee2137.PNG)

[2022-10-17 13:22] #84 closed

[2022-10-17 13:23] #15 closed

[2022-10-17 13:23] #85 closed

[2022-10-17 13:27] #88 closed

[2022-10-17 13:31] #25 closed

[2022-10-17 13:34] #16 closed, assigned to vaibhav-sangwan

[2022-10-17 13:43] #14 closed, assigned to vaibhav-sangwan

[2022-10-17 13:46] vaibhav-sangwan commented on #135
@akash-1107 assigned, you may work on it

[2022-10-17 13:47] vaibhav-sangwan commented on #134
@sabhisharma-ise assigned, you may work on it

[2022-10-17 13:49] vaibhav-sangwan commented on #133
@akash-1107 assigned, you may work on it

[2022-10-17 13:51] vaibhav-sangwan commented on #132
@Parth-2609 open the PR

[2022-10-17 14:27] #1 closed

[2022-10-17 14:30] #42 closed

[2022-10-17 14:52] TanyaSri-23 commented on #132
Completed the task

<img width="569" alt="image" src="https://user-images.githubusercontent.com/76212920/196209361-8981891a-1e3a-4956-842b-f42aecc6fddf.png">
<img width="541" alt="image" src="https://user-images.githubusercontent.com/76212920/196209625-defe559d-64cd-4a45-a66c-61d7b1659a36.png">
<img width="382" alt="image" src="https://user-images.githubusercontent.com/76212920/196209709-5764d1f4-

[2022-10-17 15:35] Parth-2609 commented on #132
@vaibhav-sangwan sorry for the inconvenience
I opened the PR again

[2022-10-17 15:36] sabhisharma-ise commented on #134
I should paste the screenshot of the code with output (leetcode platform) in the folder directly right?

[2022-10-17 15:41] Vaijayanthi-Sambath-Kumar commented on #33
Can you please assign this to me

[2022-10-17 15:43] Vaijayanthi-Sambath-Kumar commented on #19
can you please assign this to me

[2022-10-17 15:51] #9 closed

[2022-10-17 15:53] #6 closed

[2022-10-17 15:59] #137 closed, assigned to Sakura74, swayamg20

[2022-10-17 16:02] #64 closed, assigned to sabhisharma-ise, Ankit-Kum-ar

[2022-10-17 16:06] vaibhav-sangwan commented on #134
@sabhisharma-ise there are merge conflicts in the Pull Request. close the PR, pull the latest code from this repo, push your code in the newly pulled repo, and then make a PR.

[2022-10-17 16:15] #5 closed

[2022-10-18 03:28] #122 closed

[2022-10-18 09:27] #40 closed

[2022-10-18 09:55] #7 closed

[2022-10-18 10:11] #55 closed

[2022-10-19 06:00] #148 closed

[2022-10-19 06:10] #146 closed

[2022-10-19 06:11] #147 closed

[2022-10-19 06:12] #119 closed

[2022-10-19 06:12] #131 closed

[2022-10-19 15:38] #18 closed

[2022-10-19 15:44] #47 closed

[2022-10-19 16:08] #33 closed

[2022-10-19 16:54] #4 closed

[2022-10-19 17:02] #19 closed

[2022-10-19 17:20] #28 closed

[2022-10-19 17:22] #43 closed

[2022-10-19 18:38] OjaswiPande commented on #149
can you assign this issue to me

[2022-10-19 18:39] OjaswiPande commented on #98
can you assign me this issue?

[2022-10-19 18:40] OjaswiPande commented on #116
can you assign me this issue?

[2022-10-19 18:40] OjaswiPande commented on #124
can you assign me this issue?

[2022-10-19 18:41] OjaswiPande commented on #127
can you assign me this issue?

[2022-10-19 18:42] OjaswiPande commented on #135
can you assign me this issue?

[2022-10-19 18:43] OjaswiPande commented on #115
can you assign me this issue?

[2022-10-19 18:44] OjaswiPande commented on #113
can you assign me this issue?

[2022-10-19 18:46] OjaswiPande commented on #94
can you assign me this issue?

[2022-10-19 18:47] OjaswiPande commented on #80
can you assign me this issue?

[2022-10-19 18:48] OjaswiPande commented on #79
can you assign me this issue?

[2022-10-19 18:48] OjaswiPande commented on #71
can you assign me this issue?

[2022-10-19 18:49] OjaswiPande commented on #78
can you assign me this issue?

[2022-10-19 18:49] OjaswiPande commented on #54
can you assign me this issue?

[2022-10-19 18:51] OjaswiPande commented on #63
can  you assign me this issue?

[2022-10-19 18:51] OjaswiPande commented on #31
can you assign me this issue?

[2022-10-19 18:52] OjaswiPande commented on #23
can you assign me this issue?

[2022-10-19 18:53] OjaswiPande commented on #123
can you assign me this issue?

[2022-10-19 18:55] OjaswiPande commented on #76
can you assign me this issue?

[2022-10-20 08:25] prajwald2607 commented on #56
Check pull request

# include <iostream>
# include <string>
using namespace std;
int main()

{
char fname[30], lname [30];
 cout << "\n\n Print the name in reverse where last name comes first:\n";
 cout << "-----------------------------------------------------------\n";
cout << " Input First Name: ";
cin >> fname;
cout << " Input Last Name: ";
cin >> lname;

cout << " Name in reverse is: "<< lname

[2022-10-20 10:42] OjaswiPande commented on #63
@abhinavcodedeveloper  I completed a task. Can you check it once?

[2022-10-20 11:45] OjaswiPande commented on #112
can you assign me this issue?

[2022-10-20 11:52] OjaswiPande commented on #62
can you assign me this question?

[2022-10-20 15:29] OjaswiPande commented on #45
can you assign me this task?

[2022-10-20 16:08] #63 closed

[2022-10-20 18:23] #62 closed

[2022-10-21 08:22] kartik77041 commented on #123
please assign it to me

[2022-10-21 08:23] kartik77041 commented on #32
please assign it to me

[2022-10-21 08:44] kartik77041 commented on #83
![image](https://user-images.githubusercontent.com/92300157/197153409-741c2eef-7fab-4368-9248-f4522d16d796.png)

[2022-10-21 08:46] kartik77041 commented on #86
![image](https://user-images.githubusercontent.com/92300157/197153901-16a0c61d-be6d-4e6b-82b9-22370336f5d6.png)

[2022-10-21 10:03] kartik77041 commented on #87
![image](https://user-images.githubusercontent.com/92300157/197170363-f2db98a8-4a90-4ea3-8ff9-96af65097393.png)

[2022-10-21 10:57] #56 closed

[2022-10-21 11:48] kartik77041 commented on #97
please assign !!!

[2022-10-21 11:51] kartik77041 commented on #96
please assign !!

[2022-10-21 15:10] Animeshkr001 commented on #31
can you please assign me this issue ?

[2022-10-21 15:56] SouvikDcoder commented on #125
@reeba212 Can you please assign this issue to me? I would like to contribute.

[2022-10-21 16:38] Animeshkr001 commented on #3
can you please assign me this issue ?

[2022-10-21 16:40] Animeshkr001 commented on #65
can you please assign me this issue ?

[2022-10-21 16:52] #83 closed

[2022-10-21 17:01] Animeshkr001 commented on #66
can you please assign me this issue ??

[2022-10-22 10:11] kartik77041 commented on #95
please assign!!

[2022-10-22 10:13] kartik77041 commented on #86
please assign!!

[2022-10-22 10:13] kartik77041 commented on #29
please assign!!

[2022-10-22 10:14] kartik77041 commented on #20
please assign!!

[2022-10-22 10:15] kartik77041 commented on #22
please assign!!

[2022-10-22 16:22] Animeshkr001 commented on #8
can you please assign me this issue ??

[2022-10-22 16:33] Saumya008 opened #287 "CPP\task\MatrixTranspose.cpp"
I would like to work on this issue under hacktoberfest, please assign it to me.
Thank you!

[2022-10-22 16:57] #2 closed

[2022-10-22 17:17] #66 closed

[2022-10-22 18:18] #65 closed

[2022-10-23 08:06] #8 closed

[2022-10-24 07:49] sabhisharma-ise commented on #23
Done this code PR #225 !

[2022-10-24 07:50] sabhisharma-ise commented on #23
@reeba212 PR #225

[2022-10-24 08:10] sabhisharma-ise commented on #7
Hey, I have resolved the error in the reversearray.cpp file. It now works correctly! Please check my PR #300

[2022-10-24 08:17] sabhisharma-ise commented on #26
Done with the code! Check PR #301

[2022-10-24 08:51] sabhisharma-ise commented on #54
@ela2003 Done with PR #302 !

[2022-10-24 08:59] sabhisharma-ise commented on #31
Done with PR #303 !

[2022-10-25 14:06] #31 closed

[2022-10-25 14:17] #54 closed

[2022-10-25 14:19] #26 closed

[2022-10-26 18:16] #93 closed

[2022-10-26 18:17] #23 closed

[2022-10-26 18:23] #30 closed

[2022-10-27 06:07] #87 closed

[2022-10-27 06:08] vaibhav-sangwan commented on #135
@OjaswiPande assigned

[2022-10-27 06:10] #130 closed

[2022-10-27 06:10] vaibhav-sangwan commented on #86
@kartik77041 assigned, you may work on it

[2022-10-27 06:11] vaibhav-sangwan commented on #11
@Kunal-Garg-12 assigned, you may work on it

[2022-10-27 06:13] vaibhav-sangwan commented on #127
@OjaswiPande assigned, you may work on it

[2022-10-27 06:53] OjaswiPande commented on #135
Sorry Because of some issues I can't do it.

[2022-10-27 08:18] OjaswiPande commented on #127
@reeba212 @vaibhav-sangwan I completed my work.Please check

[2022-10-28 08:40] #121 closed

[2022-10-28 08:41] #125 closed

[2022-10-28 08:52] #133 closed

[2022-10-28 08:53] #127 closed

[2022-10-28 08:57] #111 closed

[2022-10-28 11:25] #86 closed

[2022-10-28 11:31] #29 closed

[2022-10-28 11:34] #32 closed

[2022-10-29 18:53] sejal-phatangare commented on #150
please assign this issue to me.

[2022-10-29 18:54] sejal-phatangare commented on #287
please assign this issue to me

[2022-10-29 18:55] sejal-phatangare commented on #149
please assign this issue to me

[2022-10-30 09:38] #135 closed

[2022-10-30 09:43] #134 closed

[2022-10-30 09:47] #11 closed

[2022-10-30 09:53] #132 closed

[2022-10-30 11:16] SouvikDcoder commented on #89
@reeba212  can you please assign this issue to me ?